
{% extends "login/../base.html" %}
{% block csss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bg.css' %}"/>
{% endblock %}
{% block content %}

    <p></p>
    <div class="container">
        {% for movie in  movie_list %}
            <div class="jumbotron">
                <div class="row">
                    <div class="col col-lg-2">
                <img src="{{ movie.poster.url }}" class="img-thumbnail" alt="Cinque Terre" width="150" height="170">
                     </div>
                    <div class="col-10"> <a href="{{ movie.url }}" class="editContent">
                        <h6>{{ movie.name }}</h6></a>
                 <strong>{{ movie.description }}</strong></div>
                </div>
                <strong>Жанр ({{ movie.category }}) </strong></p>
                <strong>Год выпуска {{ movie.year }}</strong>


            </div>
        {% endfor %}
    </div>
{% endblock %}