
{% extends "login/../base.html" %}
{% block csss %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bg.css' %}"/>
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
    <div class="container">
    <div class="jumbotron">

            <form action="{% url 'filter' %}" method="get">
            <strong>Жанр: </strong>
                {% for movie in movie_list %}
            {% if not forloop.first %}
                    {{ movie.category }}
                    {% endif %}
      <input type="checkbox" class="checked" name="category" value="{{ movie.category }}">
    {% endfor %}<button type="submit">Найти</button></form><div class="jumbotron">
                <form action="{% url 'filter' %}" method="get">
            <strong>Год: </strong>
                {% for movie in movie_list %}
            {% if not forloop.first %}
                    {{ movie.year }}
                    {% endif %}
      <input type="checkbox" class="checked" name="category" value="{{ movie.year }}">

    {% endfor %}<button type="submit">Найти</button></form>
   {% endif %} </div></div>
        {% for movie in  movie_list %}
            <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col col-lg-2">
                <img src="{{ movie.poster.url }}" class="img-thumbnail" alt="Cinque Terre" width="150" height="170">
                     </div>
                    <div class="col-10"> <a href="{{ movie.url }}" class="editContent">
                        <h6>{{ movie.name }}</h6></a>
                 <strong>{{ movie.description }}</strong></div>
                </div>
                <strong>Жанр ({{ movie.category }}) </strong></p>
                <strong>Год выпуска {{ movie.year }}</strong>

            </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}